<!doctype html>
<html ng-app="app">
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="css/style.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js"></script>

<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

</head>


<body>
	<div ui-view></div>
</body>
<script src="app.js"></script>
<script src="controllers/appCtrl.js"></script>
<script src="controllers/usersCtrl.js"></script>
<script src="controllers/postsCtrl.js"></script>
<script src="controllers/singlePostCtrl.js"></script>
<script src="controllers/albumCtrl.js"></script>
<script src="controllers/photosCtrl.js"></script>
<script src="controllers/commentsCtrl.js"></script>
<script src="service/appServices.js"></script>
</html>
	<!-- <div class="wrap" ng-controller="Controller"> -->
<!-- 		<div ng-if="swowList" users-info>

		</div>
		<div ng-if="!swowList" ng-model="userData" all-users-info>

		</div> -->
<!-- 		    <ul class="nav navbar-nav"> -->


<!-- 	<ul class='users' ng-repeat="el in jsonData">
		<li class='users_id'>
			<a id='get_post' data-id="{{el.id}}" href='#'>запрос post</a>
			<a class='get_albums' data-id="{{el.id}}" href='#'>запрос albums</a>
		</li>
		<li class='users_name'>name:
			<span>{{el.name}}</span>
		</li>
		<li class='users_username'>username:
			<span>{{el.username}}</span>
		</li>
		<li class='users_email'>email:
			<span>{{el.email}}</span>
		</li>
		<li class='users_phone'>phone:
			<span>{{el.phone}}</span>
		</li>
		<li class='users_website'>website:
			<span>{{el.website}}</span>
		</li>
	</ul>


	<ul class='users' ng-repeat="el in jsonData">
		<li class='users_id'>id:<span>{{el.id}}</span>
			<a id='get_post' data-id="{{el.id}}" href='#'>запрос post</a>
			<a class='get_albums' data-id="{{el.id}}" href='#'>запрос albums</a>
		</li>
		<li class='users_name'>name:
			<span>{{el.name}}</span>
		</li>
		<li class='users_username'>username:
			<span>{{el.username}}</span>
		</li>
		<li class='users_email'>email:
			<span>{{el.email}}</span>
		</li>
		<li class='users_address'>address:
			<ul class='adress'>
				<li class='adress_street'>street:
					<span>{{el.address.street}}</span>
				</li>
				<li class='adress_suite'>suite:
					<span>{{el.address.suite}}</span>
				</li>
				<li class='adress_city'>city:
					<span>{{el.address.city}}</span>
				</li>
				<li class='adress_zipcode'>zipcode:
					<span>{{el.address.zipcode}}</span>
				</li>
				<li class='adress_geo'>geo:
					<ul class='geo'>
						<li class='geo_lat'>lat:
							<span>{{el.address.geo.lat}}</span>
						</li>
						<li class='geo_lng'>lng:
							<span>{{el.address.geo.lng}}</span>
						</li>
					</ul>
				</li>
			</ul>
		</li>
		<li class='users_phone'>phone:
			<span>{{el.phone}}</span>
		</li>
		<li class='users_website'>website:
			<span>{{el.website}}</span>
		</li>
		<li class='users_company'>company:
			<ul class='company'>
				<li class='company_name'>name:
					<span>{{el.company.name}}</span>
				</li>
				<li class='company_catchPhrase'>catchPhrase:
					<span>{{el.company.catchPhrase}}</span>
				</li>
				<li class='company_bs'>bs:
					<span>{{el.company.bs}}</span>
				</li>
			</ul>
		</li>
	</ul> -->
