<table class="tableInfo">
  <thead>
    <tr>
       <th>User: {{jsonData[userID-1].id}}</th>
       <th><input type="button" class="btn" ui-sref="user" value="    Prev    "></th>
       <th><input type="button" class="btn" ui-sref="post" value="запрос post"></th>
       <th><input type="button" class="btn" ui-sref="album" value="запрос albums"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
       <td>name:</td>
       <td colspan="3">{{jsonData[userID-1].name}}</td>
    </tr>
    <tr>
       <td>username:</td>
       <td colspan="3">{{jsonData[userID-1].username}}</td>
    </tr>
    <tr>
       <td>email:</td>
       <td colspan="3">{{jsonData[userID-1].email}}</td>
    </tr>
    <tr>
       <td rowspan="6">address:</td>
		<td>street:</td>
	    <td colspan="2">{{jsonData[userID-1].address.street}}</td>
    </tr>
    <tr>
    	<td>suite:</td>
	   <td colspan="2">{{jsonData[userID-1].address.suite}}</td>
    </tr>
    <tr >
    	<td>city:</td>
	    <td colspan="2">{{jsonData[userID-1].address.city}}</td>
    </tr>
    <tr>
    	<td >zipcode:</td>
	    <td colspan="2">{{jsonData[userID-1].address.zipcode}}</td>
    </tr>
    <tr>
    	<td rowspan="2">geo:</td>
    	<td>lat:</td>
	   <td>{{jsonData[userID-1].address.geo.lat}}</td>
    </tr>
    <tr>
		<td>lng:<span></td>
	    <td>{{jsonData[userID-1].address.geo.lng}}</td>
    </tr>
    <tr>
       <td>phone:</td>
       <td colspan="3">{{jsonData[userID-1].phone}}</td>
    </tr>
    <tr>
       <td>website:</td>
       <td colspan="3">{{jsonData[userID-1].website}}</td>
    </tr>
    <tr>
       <td rowspan="3">company:</td>
       <td>Name:</td>
       <td colspan="2">{{jsonData[userID-1].company.name}}</td>
    </tr>
    <tr>
    	<td>catchPhrase:</td>
        <td colspan="2"> {{jsonData[userID-1].company.catchPhrase}}</td>
    </tr>
    <tr>
        <td>bs:</td>
        <td colspan="2">{{jsonData[userID-1].company.bs}}</td>
    </tr>

  </tbody>
</table>