<div class="wrapper">
  <input type="text" ng-model="book.name">
  <input type="button" ng-click="addBook(book)" value="add book">
  
  <div class="row " >

    <div class="col-sm-10 col-md-4 "  ng-repeat="book in books"  >
           <h3>{{book.name}}</h3>
<!--               <ul >  
                  <li><strong> title: </strong> {{photo.title}} </li>
                  <li><strong> img(600x600): </strong>  <a href="{{photo.url}}">{{photo.url}}</a> </span></li>
              </ul>    -->     

    </div>
  </div>
</div>
