<div class="wrapper" >
  <div class="row">
    <div class="col-sm-6 col-md-12 " >
      <div class="thumbnail">
        <div class="caption" >
          <h3>{{post.title}}</h3>
          <p>{{post.body}}</p>
        </div>
      </div>
      
      <h4>Comments</h4>
      
      <ul ng-repeat="comment in comments">
        <li>
          <div class="thumbnail">
            <div class="caption" >
              <h5>{{comment.name}}</h5>
              <p>{{comment.body}}</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>