
<div class="wrapper">
  <div class="row">
    <div class="col-sm-6 col-md-4 ">
      <div class="thumbnail">
        <div class="caption" >
          <h3>{{user.name}}</h3>
              <ul >  
                  <li><strong> username: </strong> {{user.username}} </li>
                  <li><strong> email: </strong>  {{user.email}} </li>
                  <li><strong> address: </strong>  </li>
                  <li><strong> street: </strong>  {{user.address.street}} </li>
                  <li><strong> suite: </strong> {{user.address.suite}} </li>
                  <li><strong> city: </strong>  {{user.address.city}} </li>
                  <li><strong> zipcode: </strong> {{user.address.zipcode}} </li>
                  <li><strong> lat: </strong>  {{user.address.geo.lat}} </li>
                  <li><strong> lng: </strong> {{user.address.geo.lat}} </li>
                  <li><strong> phone: </strong>  {{user.phone}} </li>
                  <li><strong> website: </strong> {{user.website}} </li>
                  <li><strong> company: </strong>  </li>
                  <li><strong> Name: </strong>  {{user.company.name}} </li>
                  <li><strong> catchPhrase: </strong>  {{user.company.catchPhrase}} </li>
                  <li><strong> bs: </strong>  {{user.company.bs}} </li>
              </ul>
          <p>
            <a href="#" class="btn btn-default" ui-sref="post({id: user.id})" role="button">post</a>
            <a href="#" class="btn btn-default" ui-sref="album({id: user.id})" role="button">albums</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
