<table class="tableInfo" ng-repeat="el in jsonData">
  <thead>
    <tr>
       <th>User: {{el.id}}</th>
       <th></th>
       <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
       <td>name:</td>
       <td>{{el.name}}</td>
        <td rowspan="2"><input class="btn btn_allInfoUsers" ng-click="allInfoUsers($event, el.id)" ui-sref="users" type="button" value="Подробнее"></td>
    </tr>
    <tr>
       <td>username:</td>
       <td>{{el.username}}</td>

    </tr>
    <tr>
       <td>email:</td>
       <td>{{el.email}}</td>
	     <td rowspan="2"><input type="button" class="btn" ui-sref="post" ng-click="posts($event, el.id)" value="запрос post"></td>
    </tr>
    <tr>
       <td>phone:</td>
       <td>{{el.phone}}</td>

    </tr>
    <tr>
       <td>website:</td>
       <td>{{el.website}}</td>
       <td rowspan="2"><input type="button" class="btn" ui-sref="album" value="запрос albums"></td>
    </tr>
    <tr>
       <td>company Name:</td>
       <td>{{el.company.name}}</td>
    </tr>
  </tbody>
</table>